 	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->   
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}blueprint/screen.css" type="text/css" >
 	<link rel="stylesheet" href="{{ STATIC_URL }}blueprint/print.css"  media="print" type="text/css">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}blueprint/ie.css" type="text/css"><![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}custom.css" media="screen" type="text/css" >